[Desktop Entry]
Type=Application
Name=Control Panel
GenericName=設定
Comment=設定メニュー (Windows の control 相当)
Exec={{ .chezmoi.homeDir }}/.local/bin/control
Icon=preferences-system
Terminal=false
Categories=Settings;
Keywords=control;settings;preferences;設定;コントロールパネル;
